.chat
  .header
    .left-header
      %h2.left-header__title test
      %ul.left-header__members
        %li.member Member,masa
    .right-header
      =link_to "#", class: "edit-btn" do
        .right-header__button Edit

  .messages
    = render partial: 'message', collection: @messages

  .form
    %form
      %input{type:'text', class:'form__message', placeholder: 'type a message'}
      .form__mask
        %label{class: 'form__mask__image'}
          = icon('fas', 'image')
          %input{type:'file', class: 'hidden'}
      %input{type:'submit', class: 'form__submit'}

-#  LGMT後modelとcontrollを元のから写す
