-# .main_chat
.header
  .left-header
    %h2.current-group test
    %ul.member-list
      %li.member-list__member masa
  =link_to "#", class: "edit-btn" do
    Edit

.messages
  = render partial: 'message', collection: @messages

.form
  -# = form_for [@group, @message] do |f|
  -#   .form__mask
  -#     = f.text_field :content, class:'form__message', placeholder: 'type a message'
  -#     = f.label :image, class: 'form__mask__image' do
  -#       = icon('fas', 'image', class: 'icon')
  -#       = f.file_field :image, class: 'hidden'
  -#   = f.submit 'Send', class: 'form__submit'
